body {
	font-family: 'Barlow', sans-serif;
	width: 100%;
	margin: 0 auto;
	background-color:#e5dfce;
	text-align:justify;
	min-height: 1050px;
	font-size: 18px;
}

H1 {
	color:rgb(0, 4, 12);
	font-size: 28px;
    font-family: 'Barlow', sans-serif;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
H3 {
	color:black;
	font-size: 26px;
    font-family: 'Barlow', sans-serif;
	padding-top: 20px;
	padding-bottom: 20px;
}

H2 {
	color:#000;
    font-size: 14px;
    font-family: 'Barlow', sans-serif;
    padding-left: 15px;
    padding-right: 15px;
}
.header {
	display: flex;
	background-color: #FFBA08;
	justify-content:space-around;
	font-family: "Barlow";
	font-size: medium;
	width: 100%;
}
.header li{
	list-style-type: none;
	}
.header a{
	text-decoration: none;
	color: #222;
	font-size: 18px;
	position: relative;
	width: 150px;
	}
.header a:hover {
	background-color:rgb(16, 138, 16);
}
.navbar-nav{
	vertical-align: bottom;
}

.nav-item {
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	color: black ;
}
.nav-link {
	color:#2a2929;
}
.sectiongrid {
	display: grid;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	justify-items: center;
}

.item {
	border: 20px solid black;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }
.contenido {
	background-color:#fff;
	width:100%;
	text-align: center;
	}

a {
	text-decoration:none;
}

a:hover {
	text-decoration:none;	
}

.logo {
	box-align: center;
    float:left;
	padding-left:20px;
	padding-bottom:0px;
}

.table {
	width: 100%;
	border: 1px solid #000;
 }
 th, td {
	width: 25%;
	text-align: left;
	vertical-align: top;
	border: 1px solid #000;
	border-collapse: collapse;
	padding: 0.3em;
	caption-side: bottom;
 }
 caption {
	padding: 0.3em;
	color: #fff;
	background: #000;
 }
 th {
	background: lavender;
 }

.footer {
	display: flex;
	flex-direction:row;
	align-items: center;
    justify-content:space-around;
	border-top: thin solid #090000;
	padding-top:8px;
	bottom:0%;
	clear:both;
	width: 100%;
	background-color: #FFF;
	font-size: 14px;
 }

.footer 
    p { 
	line-height:1.5em;
    font-family: 'Barlow', sans-serif;
    text-align: center;
	}

input, select, textarea {
 border: thin gray solid;
}

.caja {
	width: 800px;
	height: auto;
	background-color: blueviolet;
	padding: 50px 20px;
	margin: 25px;
}
.colchon img{
	max-width: 100%;
	}

.col {
		background-color: #f0f3e8;
		font-family: 'Barlow';
		font-size: medium;
		color:#000
	}
.form.bootstrap {
	max-width: 50%;
}
.card-img-top{
	max-width: 200px;
}
@media screen and (max-width: 768px) {
	.footer {
		font-size: 18px;
		flex-direction: column;
	}
	body {
		max-width: 100%;
	}
	.header {
		display: block;
	}
	.caja{
		width: auto;
	}
	.cajacontenido{
		width: auto;
	}
	.iframe {
		width: 360px;
		height: auto;
	}
}